<p style="color: green"><%= notice %></p>

<h1>Boardgames</h1>

<div id='map'
      style='width: 100%; height: 300px;'
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>


<div id="boardgames">
  <% @boardgames.each do |boardgame| %>
    <p>
      <%= link_to(boardgame.name, boardgame_path(boardgame)) %>
    </p>
  <% end %>
</div>

<%= link_to "New boardgame", new_boardgame_path %>
